.cart_transition_alt {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0px -1px 0px #eeeeee;
}

.cart_transition_alt:focus-within {
  box-shadow: rgb(0 0 0) 0px -2px 0px inset;
}

.cart_clip {
  clip: rect(1px, 1px, 1px, 1px);
}

.cart_border_width {
  border-width: 0 1px 1px 1px;
}

:not(:first-child).cart_li_item {
  border-top: 1px solid #e2e2e2;
  margin-top: 16px;
  padding-top: 12px;
}
