@tailwind utilities;

:root {
  /* #region  /**=========== Uber Color =========== */
  --tw-color-black: rgb(0, 0, 0);
  --tw-color-black-08: rgba(0, 0, 0, 0.08);
  --tw-color-gray-50: rgba(238, 238, 238); /* #EEEEEE */

  --tw-color-gray-100: rgb(51, 51, 51); /* #333333 */
  --tw-color-gray-200: rgb(77, 77, 77); /* #4D4D4D */
  --tw-color-gray-300: rgb(117, 117, 117); /* #757575 */
  --tw-color-gray-400: rgb(84, 84, 84); /* #545454 */

  /* #endregion  /**======== Uber Color =========== */

  /* #region  /**=========== Tailwind Vars =========== */
  --tw-translate-y: 0;
  --tw-translate-x: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  /* #endregion  /**=========== Tailwind Vars =========== */
}

.border-1-gray {
  border-top: 1px solid #e2e2e2;
}

@layer utilities {
  .sb-transition {
    transition: opacity 0.4s ease-in-out, width 0s 0.4s, height 0s 0.4s;
  }
}

.cart_transition {
  transition: max-width 400ms ease, opacity 400ms ease 100ms;
}

.cart_transition_alt {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0px -1px 0px #eeeeee;
}

.cart_transition_alt:focus-within {
  box-shadow: rgb(0 0 0) 0px -2px 0px inset;
}

.cart_clip {
  clip: rect(1px, 1px, 1px, 1px);
}

.cart_border_width {
  border-width: 0 1px 1px 1px;
}

.cart_shadow {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

#homeMap .gm-bundled-control,
#homeMap .gm-fullscreen-control {
  visibility: hidden;
}

.w-10 {
  width: 2.5rem;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
