.modal_dropdown_label {
  transition: background-color 100ms ease 0s;
  justify-content: space-between;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.modal_dropdown_label:before {
  vertical-align: top;
  width: 22px;
  height: 22px;
  cursor: pointer;
  content: '';
  border-radius: 50%;
  border: 3px solid rgb(107, 107, 107);
  box-sizing: border-box;
  display: flex;
}

.modal_dropdown_label_selected:before {
  border: 8px solid rgb(0, 0, 0);
}

.modal_dropdown_label:hover:before {
  border: 8px solid rgb(0, 0, 0);
}

.modal_dropdown_label_item {
  margin-top: calc(3px);
  justify-content: space-between;
  flex: 1;
  display: flex;
  position: relative;
}

.modal_dropdown_label_item:after {
  right: -8px;
  left: -8px;
  bottom: -8px;
  top: -8px;
  position: absolute;
  content: '';
}
