.btn_menu {
  border-radius: 50%;
  min-height: auto;
  width: 36px;
  padding: 0px;
  height: 36px;
  box-sizing: border-box;
  display: flex;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-family: UberMoveText, sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn_menu_prev {
  color: rgb(175, 175, 175);
  background: rgb(246, 246, 246);
  cursor: not-allowed;
}

.btn_menu:disabled {
  cursor: not-allowed;
  color: rgb(175, 175, 175);
  background: rgb(246, 246, 246);
}

.btn_menu_next {
  background: #eeeeee;
  color: #000000;
}

.btn_menu_next svg {
  transform: rotate(180deg);
}

.category_item_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-transform: 'uppercase';
}
